.red-first {
    display: inline-block;
    background-color: red;
    width: 50px;
    height: 50px;
    border-left: solid black;
    border-top: solid black;
    border-bottom: solid black;
}
.red-second {
    display: inline-block;
    background-color: white;
    width: 90px;
    height: 50px;
    margin: 0 0 0 -5px;
    border-right: solid black;
    border-top: solid black;
    border-bottom: solid black;
}
.red-third {
    display: inline-block;
    height: 20px;
    width: 10px;
    background-color: black;
    line-height: 50px;
    margin: 0 0 16px -4px;
}
.red{

	width: 170px;
	height: 50px;
}